@import '../bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------
		Materialize
-------------------------------- */

@import './color';

@import './variables';

@import './mixins';

@import './global';

/* --------------------------------
		Materialize Forms
-------------------------------- */
@import './forms/forms';

@import './forms/input-fields';

@import './forms/range';

@import './forms/select';


// End Forms

@import './cards';

@import './grid';

@import './buttons';



/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

// font-family: 'Roboto Slab', serif;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Barrio', cursive;

body {
	font: {
		size: 1.6rem;
		family: 'News Cycle', sans-serif;
	}

	@include font-smoothing;
}

a {

	text-decoration: none;
}

.cd-image-replace {
	/* replace text with image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}

// Custom fonts
@font-face {
    font-family: 'Ginva';
    src: url('../fonts/Ginva.ttf');
}
@font-face {
    font-family: 'Voga';
    src: url('../fonts/voga-medium.otf');
}
/* --------------------------------

Navigation trigger - visible on small devices only

-------------------------------- */

.cd-nav-trigger {
	display: block;
	position: fixed;
	z-index: 2;
	bottom: 30px;
	right: 5%;
	height: 44px;
	width: 44px;
	@include border-radius;
	background: rgba($color-2, .9);

	/* reset button style */
	cursor: pointer;
	@include appearance(none);
	border: none;
	outline: none;

	span {
		/* central dot */
		position: absolute;
		height: 4px;
		width: 4px;
		background-color: $color-1;
		border-radius: 50%;
		@include center;

		&::before, &::after {
			/* bottom and top dots */
			content: '';
			position: absolute;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $color-1;
			border-radius: inherit;
		}

		&::before {
			top: -9px;
		}

		&::after {
			bottom: -9px;
		}
	}

	@include MQ(M) {
		display: none;
	}
}

/* --------------------------------

Vertical navigation

-------------------------------- */

.cd-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: auto;
	@include transform(scale(0));
	@include transform-origin(right bottom);
	@include transition(transform .2s);
	@include border-radius;
	background-color: transparent;

	a {
		display: block;
		padding: 1em;
		color: #fff;
		font-weight: bold;
		border-bottom: 1px solid rgba($color-1, .1);

		&.active {
			color: #363737;
		}
	}

	&.open {
		@include transform(scale(1));
		-webkit-overflow-scrolling: touch;
	}

	&.open + .cd-nav-trigger {
		background-color: #fff;

		span {
			background-color: rgba($color-1, 0);
		}

		span::before, span::after {
			/* transform dots in 'X' icon */
			height: 3px;
			width: 20px;
			border-radius: 0;
			left: -8px;
		}

		span::before {
			@include transform(rotate(45deg));
			top: 1px;
		}

		span::after {
			@include transform(rotate(135deg));
			bottom: 0;
		}
	}

	@include MQ(M) {
		/* reset style */
		right: 0;
		top: 0;
		bottom: auto;
		height: 100vh;
		width: 90px;
		max-width: none;
		max-height: none;
		@include transform(scale(1));
		background-color: transparent;
		/* vertically align its content*/
		display: table;

		&::before {
			/* this is the navigation background */
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255, .8);
			@include transform(translateX(100%));
			@include transition(transform .4s);
		}

		.no-touch &:hover::before,
		.touch &::before {
			@include transform(translateX(0));
		}

		ul {
			/* vertically align <ul> inside <nav>*/
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		a {
			position: relative;
			padding: 3em 0 0;
			margin: 1.4em auto;
			border-bottom: none;
			font-size: 1.2rem;
			color: #719DC1;

			&.active {
				color: #1F2B35;
			}

			&::before, &::after {
				/* used to create the filled circle and the background icon */
				content: '';
				position: absolute;
				left: 50%;
				/* Force Hardware Acceleration */
				@include backface-visibility(hidden);
				@include transform(translateZ(0));
			}

			&::before {
				/* filled circle */
				top: 0;
				height: 32px;
				width: 32px;
				border-radius: 50%;
				background: #719DC1;
				box-shadow: -5px -5px 20px rgba(0,0,0,.5);
				@include transform(translateX(-50%) scale(.25));
				@include transition(transform .4s, background-color .2s);
			}

			&::after {
				/* icon */
				opacity: 0;
				top: 8px;
				height: 16px;
				width: 16px;
				background: url(../img/cd-nav-icons.svg) no-repeat;
				@include transform(translateX(-50%) scale(0));
				@include transition(transform .4s 0s, opacity .1s .3s);
			}

			&.active::before,
			.no-touch &:hover::before {
				background-color: #1F2B35;
			}
		}
		// #section1-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section2-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section3-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section4-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section5-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section6-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }
		// #section7-link .svg {
		// 	background: url(../img/woman-laying-down-lifting-head.svg) no-repeat;
		// 	height: 16px;
		// 	width: 16px;
		// 	background-position: 0px 0px;
		// }

		li:first-of-type a::after {
			/* change icon using image sprites */
			background-position: 0px -48px;
			/* fix bug with transitions - set scale(0.01) rather than scale(0) */
			@include transform(translateX(-50%) translateY(4.5em) scale(0.01));
		}

		li:first-of-type a::before {
			@include transform(translateX(-50%) translateY(4.5em) scale(.25));
		}

		li:nth-of-type(2) a::after {
			background-position: 0px -32px;
			@include transform(translateX(-50%) translateY(1.5em) scale(0.01));
		}

		li:nth-of-type(2) a::before {
			@include transform(translateX(-50%) translateY(1.5em) scale(.25));
		}

		li:nth-of-type(3) a::after {
			background-position: 0px -16px;
			@include transform(translateX(-50%) translateY(-1.5em) scale(0.01));
		}

		li:nth-of-type(3) a::before {
			@include transform(translateX(-50%) translateY(-1.5em) scale(.25));
		}

		li:nth-of-type(4) a::after {
			background-position: 0px 0px;
			@include transform(translateX(-50%) translateY(-4.5em) scale(0.01));
		}

		li:nth-of-type(4) a::before {
			@include transform(translateX(-50%) translateY(-4.5em) scale(.25));
		}
		li:nth-of-type(5) a::after {
			background-position: 0px 0px;
			@include transform(translateX(-50%) translateY(-4.5em) scale(0.01));
		}

		li:nth-of-type(5) a::before {
			@include transform(translateX(-50%) translateY(-8.5em) scale(.25));
		}
		li:nth-of-type(6) a::after {
			background-position: 0px 0px;
			@include transform(translateX(-50%) translateY(-4.5em) scale(0.01));
		}

		li:nth-of-type(6) a::before {
			@include transform(translateX(-50%) translateY(-11.5em) scale(.25));
		}
		li:nth-of-type(7) a::after {
			background-position: 0px 0px;
			@include transform(translateX(-50%) translateY(-4.5em) scale(0.01));
		}

		li:nth-of-type(7) a::before {
			@include transform(translateX(-50%) translateY(-14.5em) scale(.25));
		}

		.label {
			font-size: 16px;
			display: block;
			/* Force Hardware Acceleration */
			@include backface-visibility(hidden);
			@include transform(translateZ(0));
			@include transform(translateX(100%));
			@include transition(transform .4s);
		}

		.no-touch &:hover a::before,
		.no-touch &:hover a::after,
		.touch & li:nth-of-type(n) a::before,
		.touch & li:nth-of-type(n) a::after {
			@include transform(translateX(-50%) scale(1));
			/* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
			-moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
		}

		.no-touch &:hover a::after,
		.touch & a::after {
			opacity: 1;
			@include transition(transform .4s, opacity 0s);
		}

		.no-touch &:hover .label,
		.touch & .label {
			@include transform(translateX(0));
		}
	}
}

/* --------------------------------

	Header Styles // Social Nav

-------------------------------- */

.header-container {
	position: fixed;
	top: 25px;
	left: 30px;
	width: max-content;
	z-index: 1000;

	.logo {
		background: url(../img/logo.png);
		height: 144px;
		width: 144px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		.site-title {
			font-size: 2.25em;
			color: #fff;
			font-family: 'Roboto Slab', serif;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 23px;
			text-align: center;
			// opacity: .7;
			text-shadow: -5px -5px 10px rgba(0,0,0,.5);
		}
		.social {
			position: absolute;
			width: 100%;
			text-align: center;
			list-style-type: none;


			.fa {
				text-shadow: -5px -5px 10px rgba(0,0,0,.5);
				font-size: 20px;
				color: #fff;
			}

		}
		#facebook {
			top:-10px;
			left: 0;
		}
		#instagram{
			width: auto;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		#email {
			bottom: -10px;
			left: 0;
		}
		#twitter {
			width: auto;
			top: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

/* --------------------------------

Content Sections - basic style

-------------------------------- */





// # -- section Fonts

.svg-icon {
	text-shadow: -5px -5px 10px rgba(0,0,0,.5);
	padding: 5px;

	img {
		height: 33px;
		width: 33px;
		color: #263238;
		text-shadow: -5px -5px 10px rgba(0,0,0,.5);
	}
}


/* ---------------------------------------------------------------------

				General Section Styles

--------------------------------------------------------------------- */


#section1 {
	// background-image: url(../img/janayoga.jpg);
	// background-image: url(../img/janayoga.jpg);
	// background: url(../img/bg.jpg), url(../img/janayoga.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/janayoga.jpg);

}
#section2 {
	// background-image: url(../img/about.jpg);
	// background-image: url(../img/about.jpg);
	// background: url(../img/bg.jpg), url(../img/about.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/about.jpg);

}
#section3 {
	// background-image: url(../img/classes1.jpg);
	// background-image: url(../img/classes1.jpg);
	// background: url(../img/bg.jpg), url(../img/classes1.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/classes1.jpg);

}
#section4 {
	// background-image: url(../img/privatelessons.jpg);
	// background-image: url(../img/privatelessons.jpg);
	// background: url(../img/bg.jpg), url(../img/privatelessons.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/privatelessons.jpg);

}
#section5 {
	// background-image: url(../img/retreats.jpg);
	// background-image: url(../img/retreats.jpg);
	// background: url(../img/bg.jpg), url(../img/retreats.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/retreats.jpg);

}
#section6 {
	// background-image: url(../img/massage.jpg);
	// background-image: url(../img/massage.jpg);
	// background: url(../img/bg.jpg), url(../img/massage.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/massage.jpg);

}
#section7 {
	// background-image: url(../img/connect.jpg);
	// background-image: url(../img/connect.jpg);
	// background: url(../img/bg.jpg), url(../img/connect.jpg);
	// background-blend-mode: multiply;
	// mix-blend-mode: exclusion;
	background: url(../img/connect.jpg);

}


#section1, #section2, #section3, #section4, #section5, #section6, #section7 {
	background-size: cover;
	background-position: center;
	// -webkit-filter: grayscale(100%);
	// filter: gray;
	background-attachment: fixed;
	position: relative;
}
.section {
	padding: 0;
}

.cd-section {

	.overlay-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	.content-wrapper {
		position: relative;
		z-index: 1000;
	}

	.card {
		.card-panel {
			transition: box-shadow .25s;
			border-radius: 2px;
			background: #DBDBDB url(../img/panel-bg.png) repeat;
			background-size: 46px 29px;
			border-bottom: 1px solid #E5E5E5;
		}
		.card-image {
			overflow: hidden;
			img {
				// max-height: 230px;

			}


		}
	}

	.section-title {
		font-family: 'Roboto Slab', sans-serif;
		font-size: 5.5rem;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -5px;
		font-size: 4.5rem;
		display: inline;
		color: #fff;
		text-shadow: -5px -5px 10px rgba(0,0,0,.5);
	}
	.flourish {
		font-family: 'News Cycle', sans-serif;
		font-size: 2em;
		line-height: 20px;
		font-weight: bold;
	}

	.card-content {
		p {
			line-height: 1.5;
			letter-spacing: 2px;
			max-width: 680px;
			color: #617073;
			font-weight: 500;
			font-family: "Futura LT";

			a {
				color: inherit;
			}
		}
	}

	@include MQ(M) {

		h1, h2 {
			// font-size: 4rem;
			// letter-spacing: 2.5px
		}

		p {
			font-size: 1.4rem;
			// text-transform: uppercase;
		}
	}
}


/* ---------------------------------------------------------------------

# -- section 1

--------------------------------------------------------------------- */




/* -------------

# -- section 2

---------------- */

#section2 {
	.card {
		margin-top: 100px;
		.card-panel {
			margin-left: -100px;
		}
	}
}



/* -------------

# -- section 3

---------------- */

#section2, #section3, #section4, #section5, #section6, #section7 {


	.cd-section {
		.section-title {
			display: inline!important;
		}
	}

}

/* -------------

# -- section 7

---------------- */

#section7 {

	.card {
		background-color: rgba(255,255,255, .3);
	}

	input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
	}
	label {
		color: #fff;
	}

}

/* --------------------------------

no-js

-------------------------------- */

.no-js .cd-nav-trigger {
	display: none;
}

.no-js .cd-vertical-nav {
	position: static;
	height: auto;
	width: 100%;
	max-width: none;
	background-color: #fff;
	border-radius: 0;
	@include transform(scale(1));

	&::before {
		display: none;
	}

	ul {
		@include clearfix;
	}

	li {
		display: inline-block;
		float: left;
	}

	a {
		padding: 0 1em;
		margin: 1.5em 1em;
		color: #fff;

		&.active {
			color: $color-4;
		}
	}

	a::after, a::before {
		display: none;
	}

	.label {
		@include transform(translateX(0));
	}
}
